<div class="TimeLineCard"> 
<div class="content">
  <ion-slide-box on-slide-changed="slideChanged(index)"> 
    <ion-slide ng-repeat='picture in challenge.pictures'> 
      <div> 
        <img ng-src="{{SERVER_ADDRESS}}{{picture}}" alt=""> 
      </div> 
    </ion-slide> 
    </div>
 <div class="navigation">
  <!-- <!--   <!-- title  --> 
  <span class="arrows"> 
    {{challenge.title}} 
  </span>
    <!-- Slide to the left  --> 
<div class="arrows-right" ng-click="nextSlide()"><i class="ion-ios-arrow-forward"></i></div> 
  <!-- Slide to the right --> 
<div class="arrows-left" ng-click="previousSlide()"><i class="ion-ios-arrow-back"></i></div> 
 </div>
  
<div class="footer"> 
    <span class="avatar"> 
      <a class="fa item-avatar" href="#"> 
        <img ng-src="{{SERVER_ADDRESS}}{{challenge._creator.avatar}}"> 
      </a> 
    </span> 
    <span> 
      <i class="ion-ios-location-outline"></i> 
      {{challenge.city}} 
    </span> 
    <span> 
      <i class="icon ion-ios-timer-outline"></i> 
      {{challenge.timeElapsed}} 
    </span> 
    <span class="info"> 
      <i class="fa fa-user-active"></i> 
      {{challenge.invitedUsers.length}} 
    </span> 
    <span class="info"> 
      <i class="fa fa-speech-active"></i> 
      {{challenge.comments}} 
    </span> 
    <span class="info"> 
          <i class="fa fa-love-active"></i> 
      {{challenge.likes}} 
    </span> 
    <span> 
      <h5>Приключва:</h5> 
      {{challenge.timeLeft}} 
    </span> 
  </div> 
</div>