<h2>	{{dare.title}}</h2>
<ion-slide-box class="demo">
	<ion-slide ng-repeat="picture in dare.pictures">
		<img style="width: 100%" ng-src="http://upload.wikimedia.org/wikipedia/commons/7/79/2001_BMW_Z3_Sideview_Topdown_Topaz_Blue_2.5i.jpg">
	</ion-slide>
</ion-slide-box>
<div class="user">
	<div class="user-pic"><img class="img-circle" src="img/photo.jpg"/></div>
	<div class="user-name">Милена Милчева</div>
</div>
<div class="info">
	<div class="timetime">
			<div class="timecheck">
				<img src="../img/icons/location-icon.png" style="width:7px; height:auto;">
			</div>
			<div class="time">
				<p>{{dare.city}}</p>
			</div>
			<div class="timeclock">
				<img src="../img/icons/time.png" style="width:8px; height:auto;">
			</div>
			<div class="time">
				<p>{{dare.timeElapsed}}</p>
			</div>
			<div class="likeLike">
		<div class="person">
			<p>{{dare.invitedUsers.length}}</p>
		</div>
		
		<div class="comment">
			<p>{{dare.comments}}</p>
		</div>
			
		<div class="heart">
			<p>{{dare.likes}}</p>
		</div>
		
	</div>
	<div class="clock">
			<h6>
				<p>Оставащо време</p>
				{{dare.timeLeft}}
			</h6>
	</div>
		</div>
	</div>
<!-- 	<div class="arrow">
		<div ng-click="nextSlide()">
			<img src="../img/icons/left.png"></img>
		</div>
		<div ng-click="previousSlide()">
			<img src="../img/icons/right.png"></img>
		</div>
	</div> -->
</div>



