<ion-view view-title="Контакти" name="contacts-view">
  <ion-content class="Contacts" ng-controller="ContactsCtrl">
    <ion-list>
      <div class="empty">
        
      </div>
      <div class="group-locatoin">      
      <p style="padding-left: 12%;text-align: left;line-height: 4vh;font-size:2vw;"><!-- {{companyLocation}} -->София, кв.Лозенец, ул. "Теодосий Търновски" 6</p>
      </div>
      <div class="group-phone">      
      <p style="line-height: 4vh;text-align: left;padding-left: 12%;font-size:2vw;"><!-- {{companyPhone}} -->0888 88 88 88</p>
      <p class="f"><!-- {{contactFormTitle}} -->Попълни формата за да се свържеш с нас</p>
      </div>
    </ion-list>
    <form name="contactForm" class="contact" novalidate form-manager>
      <div class="input-group-user">
           <input class="name" ng-model="contact.name" name="fieldName" type="text" placeholder="Enter your name"  required ng-minlength="2"
                 ng-maxlength="70">
             
    </div>
      <div class="input-group-mail">
  
          <input class="name" ng-model="contact.email" name="fieldEmail" type="email" placeholder="Enter email" required
                 ng-maxlength="50">
  
      </div>
      <div class="input-group-phone">
       
          <input class="name" ng-model="contact.phone" name="fieldPhone" type="text" placeholder="Enter your phone" required
                 ng-minlength="5" ng-maxlength="15">

      </div>
     <!--  <div class="input-group-message">
       </div> -->
          <textarea class="input-group-message name-2" ng-model="contact.message" name="fieldMessage" placeholder="Message" rows="5" required ng-minlength="5"
                    ng-maxlength="250">
                      
          </textarea>

      
        <button ng-click="submit()" class="button button-blue">ИЗПРАТИ</button>
    
    </form>
    <p class="blue">Последвайте ни в социалните мрежи</p>
    <article  class="log">
    
                <button class="fa ion-social-facebook button button-block " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);margin:10% 7% 0 6%;"></button>
                <button class="fa ion-social-twitter button button-block " ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);margin:10% 7% 0 6%;"></button>
                 <button class="fa ion-social-googleplus button button-block " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);margin:10% 7% 0 6%;"></button>
         </article>
  </ion-content>
</ion-view>
