

<ion-view view-title="category">
<ion-content >
  <main>
   <div class="box1">
      <h1 class="color1">12345</h1>
        <p>Забавни <br>предизвикателства</p>
    </div>
    <div class="box2">
      <h1 class="color2">3456</h1>
      <p>Бизнес <br>предизвикателства</p>
    </div>
    <div class="box3">
      <h1 class="color3">56235</h1>
      <p>Предизвикателства <br>с награда</p>
    </div>
    <div class="box4">
    <h1 class="color4">3234</h1>
    <p>Благотворителни <br>предизвикателства</p>
    </div>
  </main>
</ion-content>
</ion-view>