<ion-view title="Статистика">
	<ion-content >
		<div class="row">
			<a href="#" class="item item-avatar">
				<img ng-src="img/avatar.png" >
			</a>
			<div>
				<h1>
					Милена Милева
				</h1>
				<img src="img/location-icon.png" alt="">
			</div>
			
		</div>
		<div class="row">
			<a href="" class="button button-calm">Предизвикай Милена</a>
			<a href="">
				<img src="img/chat.png" alt="">
			</a>
		</div>
		<div class="row">
			<div>
				<h1>231</h1>
				<h3>ПРЕДИЗВИКАТЕЛСТВА</h3>
			</div>
			<div>
				<h1>1.2K</h1>
				<h3>ПРИЯТЕЛИ</h3>
			</div>
			<div>
				<h1>320</h1>
				<h3>ЗАВЪРШЕНИ</h3>
			</div>
			<div>
				<h1>12</h1>
				<h3>СПЕЧЕЛЕНИ</h3>
			</div>

		</div>
		<div class="card">
		
				<canvas 
					id="line"
					class="chart chart-line" 
					chart-data="data" 
					chart-labels="labels" 
					chart-legend="false" 
					chart-series="series" 
					chart-options="options"
				></canvas>

			</div>
		</div>

	</ion-content>
</ion-view>