<ion-view class="search" title="Търсене" view-title='Търсене'>
		<ion-content>
			<ion-list>
				<div>
					<label class="item item-input" >
							<i class="icon ion-search placeholder-icon"></i>
							<input type='text' placeholder='Търси'  placeholder="Search" ng-keyup="search()" ng-model="searchText" style="color:white;" value="" >
					</label>
				</div>
				<ion-item ng-repeat = "friend in result | filter : searchText" class="row" >
					<div class="col" >
						<a  class="item-avatar"  ng-class = "{online : friend.isOnline==true}" ng-href="#/tab/user/{{friend._id}}" >
							<img  src='{{SERVER_ADDRESS}}/{{friend.avatar}}' alt="">
						</a>	
					</div>
					<div class="col col-1">
						<h4>{{friend.name}}</h4>
						<h6><i class="ion-ios-location-outline" style="color:#ffb400;font-size:15px;"></i>{{friend.town}}, {{friend.country}}</h6>
					</div>
					<div class="col">
						<!-- TODO clarify the link to the dare -->
						<a   class="button button-calm  button-small" href="" ng-click="sendRequest(friend._id)" >
							Добави
						</a>
					</div>
					
				</ion-item>
			</ion-list>
		</ion-content>
</ion-view>
