<ion-view view-title="Contacts View" name="contacts-view">
  <ion-content class="padding" ng-controller="ContactsCtrl">
    <ion-list>
      <p><i class="ion-ios-location-outline" style="color:orange;margin: 3%;"></i>{{companyLocation}}</p>
      <p><i class="ion-iphone" style="color:orange;margin: 3%;"></i>{{companyPhone}}</p>
      <p>{{contactFormTitle}}</p>
    </ion-list>
    <form name="contactForm" class="contact" novalidate form-manager>
      <div class="list list-inset">
        <label class="item item-input">
        <i class="fa fa-user-active" style="color:orange;margin: 3%;"></i>
          <input ng-model="contact.name" name="fieldName" type="text" placeholder="Enter your name" required ng-minlength="2"
                 ng-maxlength="70">
        </label>
        <label class="item item-input">
        <i class="ion-ios-email-outline" style="color:orange;margin: 3%;"></i>
          <input ng-model="contact.email" name="fieldEmail" type="email" placeholder="Enter email" required
                 ng-maxlength="50">
        </label>
        <label class="item item-input">
        <i class="ion-iphone" style="color:orange;margin: 3%;"></i>
          <input ng-model="contact.phone" name="fieldPhone" type="text" placeholder="Enter your phone" required
                 ng-minlength="5" ng-maxlength="15">
        </label>
        <label class="item item-input">
        <i class="ion-edit" style="color:orange;margin: 3%;"></i>
          <textarea ng-model="contact.message" name="fieldMessage" placeholder="Message" rows="5" required ng-minlength="5"
                    ng-maxlength="250"></textarea>
        </label>
        <button ng-click="submit()" class="button button-block button-positive"> Submit </button>
      </div>
    </form>
    <article  class="into-login">
    <p>folow us : </p>
                <button class="fa ion-social-facebook button button-block " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
                <button class="fa ion-social-twitter button button-block " ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
                 <button class="fa ion-social-googleplus button button-block " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
         </article>
  </ion-content>
</ion-view>
