<ion-view view-title="Ново предизвикателство" name="Ново предизвикателство">
	<ion-content>
		<div class="bar bar-header">
			<div class="h1 title">
				Създай Предизвикателство
			</div>
		</div>
			<br><br>
		<div class="list list-inset">
				<form enctype="multipart/form-data" ng-submit="submitDare()">
				<!--Friends Slider-->
				<!-- <ion-slide-box on-slide-changed="slideHasChanged($index)">
					<ion-slide>
						<div class="box blue"><h1>BLUE</h1></div>
					</ion-slide>
					<ion-slide>
						<div class="box yellow"><h1>YELLOW</h1></div>
					</ion-slide>
					<ion-slide>
						<div class="box pink"><h1>PINK</h1></div>
					</ion-slide>
				</ion-slide-box>
					-->
				<!--add friends button-->
				<!-- <button class="button button-block" ng-click="callFriendsModal()">Invite Friends</button> -->
				
				<label class="item item-input">

					<input type="text" placeholder="Заглавие на Предизвикателство" ng-model="data.name" value="Dare name here">
				</label>
				<label class="item item-input">
					<!-- <i class="icon placeholder-icon ion-edit"></i> -->
					<textarea placeholder="Dare Description" rows="8" cols="10" ng-model="data.description" value = "Some Description here"></textarea>
				</label>
				<!--<leaflet defaults="map.defaults" center="mapCenter" markers="markers" class="leafletDareMap"></leaflet>-->
				<br>
				<h3>Choose Category</h3>
				<br>
				<ion-list>
					<ion-radio  ng-repeat="category in categories" ng-model="data.category" ng-value="category.id">
					{{category.title}}
					</ion-radio>
				</ion-list>


				<h3>Duration</h3>
				<label class="item item-input">
					<span class="input-label">From</span>
					<input type="date">
				</label>
				<label class="item item-input">
					<span class="input-label">To</span>
					<input type="date">
				</label>
				<h3>Payment:</h3>
				<label class="item item-input">
					<span class="input-label">From</span>
					<input type="number" min="0" max="50">
				</label>
				<label class="item item-input">
					<span class="input-label">To</span>
					<input type="number" min="0" max="50">
				</label>
				<h3>Image</h3>
				<div class="list">
					<input type="text" ng-model = "data.file" >
				</div>
				<div class="row responsive-sm">
					<button class="button button-positive col privacy">
						Private
					</button>
					<button class="button button-positive col privacy">
						Public
					</button>
				</div>
				<h3>Share in social</h3>
				<div class="row responsive-sm">
					<button class="button button-positive col privacy">
						G+
					</button>
					<button class="button button-positive col privacy">
						FB
					</button>
					<button class="button button-positive col privacy">
						TW
					</button>
				</div>
				<button class="button button-block button-balanced" type="submit">Create</button>
			</form>
		</div>
	</ion-content>
</ion-view>
