<ion-view view-title="Chatting with {{user}}">
  <ion-content>
    <h2>{{user.socketID}}</h2>
    <ion-list>
      <ion-item ng-repeat="msg in messages track by $index">
        <strong>{{msg.sender}}</strong> {{msg.time| date:'HH:mm:ss'}}
        <div ng-class="{'strike': theItem, left : right}">
          {{msg.message}}
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <form>
      <label class="item-input-wrapper input-form-submit">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()"
               ng-model="message" on-focus="inputUp()" on-blur="inputDown()" ng-submit="emit(message)"/>
      </label>

      <!--don't delete the button it is hidden on purpose-->
      <button ng-model="deleted" class="button button-clear button-form-submit" ng-click="emit(message)">
        Send
      </button>
    </form>
  </ion-footer-bar>
</ion-view>
