<ion-view view-title="User Details" name="user-detail-view">
  <ion-content>
    <!--{{user}}-->

    <!--TODO Set the user picture link-->
    <!--<img ng-src="{{user.picture}}" alt="User Picture">-->
    <h1>Email : {{user.email}}</h1>
    <p>Name : {{user.name}}</p>
    <i class="ion-ios-location-outline"></i>{{user.town}}
    <!--{{user}}-->
    <button class="button" ng-click="callDareModal(user._id)">Предизвикай {{user.name}}</button>
    <!--<p>Date Of Birth : {{user.dateOfBirth | date: 'medium'}}</p>-->
    <!--<p>Phone : {{user.phone}}</p>-->
    <!--<p>Friends : {{user.friends}} &#45;&#45; TODO add the friends</p>-->
    <!--<h2>Location</h2>-->
    <!--<leaflet defaults="map.defaults" center="mapCenter" markers="markers" class="leafletUserMap"></leaflet>-->
  </ion-content>
</ion-view>
