<ion-view view-title="Public Chat Test" name="login-view">

  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to clear !"
      on-refresh="clearAllMessages()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="msg in messages track by $index">
        <strong>{{msg.id}}</strong>
        <div ng-class="{'strike': theItem, left : right}">
          {{msg.message}}
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()"
             ng-model="message" on-focus="inputUp()" on-blur="inputDown()"/>
    </label>
    <button ng-model="deleted" class="button button-clear" ng-click="emit(message)">
      Send
    </button>

  </ion-footer-bar>
</ion-view>
