<ion-view>
	<ion-content class="Statistics">
		<div class="row">
			<a href="#" class="fa item item-avatar">
				<img ng-src="img/avatar.png">
			</a>
			<div class="user">
				<h1>
					Милена Милева
				</h1>
				<i class="ion-ios-location-outline" style="color:#fcb301;margin-right:1em;"></i><img src="img/location-icon.png" alt="">
			</div>

		</div>
		<div class="row">
			<a href="" class="button button-calm">Предизвикай Милена</a>
			<a href="" class="fa app-icon-chat">

			</a>
		</div>
		<div class="row" style="border-bottom: 1px solid #fff;">
			<div class="dare">
				<h1>231</h1>
				<h3>ПРЕДИЗВИКАТЕЛСТВА</h3>
			</div>
			<div class="dare">
				<h1>1.2K</h1>
				<h3>ПРИЯТЕЛИ</h3>
			</div>
			<div class="dare">
				<h1>320</h1>
				<h3>ЗАВЪРШЕНИ</h3>
			</div>
			<div class="dare">
				<h1>12</h1>
				<h3>СПЕЧЕЛЕНИ</h3>
			</div>

		</div>
		<div class="card">

			<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options"></canvas>

		</div>
		</div>

	</ion-content>
</ion-view>
