<ion-view>
  <ion-content class="padding">
    <!--<div ng-include="'templates/menus/side-menu-test.html'"></div>-->
    <button class="button" ng-click="callLoginModal()">Login</button>
    <button class="button" ng-click="callRegisterModal()">Register</button>
	<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

</div>
  </ion-content>
</ion-view>
