<table style="width:100%;">
	<thead>
		<tr>
			<th colspan='2' 
				ng-click="changeDate(calendar.year,calendar.prevMonth)">
				<i class="ionic-icon ion-ios-arrow-back"></i>
			</th>
			<th colspan='3'>
				{{calendar.currentMonth}}
			</th>
			<th colspan='2' 
				ng-click="changeDate(calendar.year,calendar.nextMonth)"
			>
				<i class="ionic-icon ion-ios-arrow-forward"></i>
			</th>
		</tr>
		<tr>
			<th ng-repeat="weekday in weekDays">
				{{weekday}}
			</th>
		</tr>
	</thead>
	<tbody>
		<!-- Loop over weeks -->
		<tr ng-repeat=" week in weeks">
			<td 
			 ng-class='{
			 	notCurrentMonth :  calendar.days[$index+(week-1)*7].isFromCurrentMonth == false,
			 	hasEvent : calendar.days[$index+(week-1)*7].hasEvents == true
			 	}'
			ng-repeat='weekday in weekDays'
			ng-click='getEvents(calendar.year,calendar.month,calendar.days[$index+(week-1)*7].day,calendar.days[$index+(week-1)*7].hasEvents)'
			 >
				{{calendar.days[$index+(week-1)*7].day}}
			</td>
		</tr>
	</tbody>
</table>