<ion-modal-view style="width: 50%; height: 45%;">
  <!--<ion-header-bar>-->
  <!--&lt;!&ndash;<h1 class="title">Login or register to proceed</h1>&ndash;&gt;-->
  <!--</ion-header-bar>-->
  <ion-content>
        <img src="http://placehold.it/350x100" alt="">

        <div class="list">
          <label class="item item-input item-floating-label">
            <span>Име на предизвикателство</span>
          </label>

          <label class="item item-input item-floating-label">
            <span>Потребителско име</span>
          </label>

          <label class="item item-input item-floating-label">
            <span>Допълнително инфо</span>
          </label>

        </div>
      <button class="button button-block" ng-click="signingUpForChallenge()">Запишете се</button>
    <br><br>
    <button class="button button-block" ng-click="closeModal()">Затвори</button>

  </ion-content>

</ion-modal-view>
