<ion-modal-view>
  <!--<ion-header-bar>-->
  <!--&lt;!&ndash;<h1 class="title">Login or register to proceed</h1>&ndash;&gt;-->
  <!--</ion-header-bar>-->
  <ion-content class="login-view">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-init="disableSwipe()">

      <!--First slide-->

      <ion-slide class="content-list">
        <section class="row list">
          <article class="row into-login">
            <div class="logo"></div>
          </article>
          <article class="row into-login">
            <i class="ion-android-person"></i>
            <label class="item item-input item-floating-label item-into">
                <span class="input-label">Име</span>
                <input type="text" placeholder="Име" ng-model="registerInfo.name">
              </label>
          </article>
          <article class="row into-login">
            <i class="ion-ios-email-outline"></i>
            <label class="item item-input item-floating-label item-into">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="registerInfo.email">
              </label>
          </article>
          <article class="row into-login">
            <i class="ion-ios-locked-outline"></i>
            <label class="item item-input item-floating-label item-into">
                <span class="input-label">Парола</span>
                <input type="password" placeholder="Парола" ng-model="registerInfo.password">
              </label>
          </article>
          <article class="row into-login">
            <i class="ion-iphone"></i>
            <label class="item item-input item-floating-label item-into">
                <span class="input-label">Телефон</span>
                <input type="text" placeholder="Телефон" ng-model="registerInfo.phone">
              </label>
          </article>
        </section>
        <aside class="row regis">
          <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i>
            </button>
          <!--adding some br's maybe it will be better with CSS ?-->
          </br>
          Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span
            class="input-label">Влезте</span></a>
        </aside>
        </div>
      </ion-slide>

      <!--Second slide-->

      <ion-slide class="content-list">
        <div>
          <section class="row list">
            <article class="row into-login">
              <div class="logo"></div>
            </article>
            <article class="row into-login">
              <i class="ion-ios-location-outline"></i>
              <label class="item item-input item-floating-label item-into">
                <span class="input-label">Адрес</span>
                <input type="text" placeholder="Адрес" ng-model="registerInfo.address">
              </label>
            </article>
            <article class="row into-login">
              <i class="ion-ios-locked-outline"></i>
              <label class="item item-input item-floating-label item-into">
                <span class="input-label">Рожденна дата</span>
                <input type="text" placeholder="Рожденна дата" ng-click="openDatePicker()"
                       ng-model="registerInfo.dateOfBirth ">
                <!--| date : 'd-MMM-yyyy'-->
              </label>
            </article>
            <article class="row into-login">
              <i class="ion-transgender"></i>
              <label class="item item-input item-floating-label item-into">
                <span class="input-label">Пол</span>
                <input type="text" placeholder="Пол" ng-model="registerInfo.gender">
              </label></article>
            <article class="row into-login">
              <i class="ion-ios-wineglass-outline"></i>
              <label class="item item-input item-floating-label item-into">
                <span class="input-label">Интереси</span>
                <input type="text" placeholder="Интереси" ng-model="registerInfo.interests">
              </label>
            </article>
          </section>
          <aside class="row regis">

            <!-- <button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i>
            </button> -->
            <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i>
            </button>
            <!--adding some br's maybe it will be better with CSS ?-->
            </br>
            Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span class="input-label">Влезте</span></a>
          </aside>
        </div>

      </ion-slide>

      <!--Third slide-->
      <ion-slide class="content-list">
        <div>
          <section class="row list">
            <article class="row into-login">
              <div class="logo"></div>
            </article>
            <article class="row into-login">
              <h2> Добави снимка </h2>
            </article>
            <article class="row into-login">
              <label class="row fileContainer">
                <i class="ion-ios-camera-outline"></i> <input class="fil" type="file">
              </label>
            </article>
          </section>
          <aside class="row regis">

            <!-- <button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i>
            </button> -->
            <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i>
            </button>
            <!--adding some br's maybe it will be better with CSS ?-->
            </br>
            Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span
            class="input-label">Влезте</span></a>
          </aside>
        </div>
      </ion-slide>

      <!--Forth slide-->

      <ion-slide class="content-list">
        <div>
          <section class="row list">
            <article class="row into-login">
              <div class="logo"></div>
            </article>
            <article class="row into-login">
              <h2> Добави социална мрежа</h1>
            <article>
            <article class="row into-login">
              <button class="fa ion-social-facebook button button-block " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
              <button class="fa ion-social-twitter button button-block " ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
              <button class="fa ion-social-googleplus button button-block " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
            </article>
          </section>
          <aside class="row regis">

            <!-- <button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i>
            </button> -->
            <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i>
            </button>
            <!--adding some br's maybe it will be better with CSS ?-->
            </br>
            Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span
            class="input-label">Влезте</span></a>
          </aside>

        </div>
      </ion-slide>

      <ion-slide class="content-list">
        <section class="row list">
          <article class="row into-login">
            <div>
              <img class="fa" src="img/avatar.png">
            </div>
            <div>{{registerInfo.name}}</div>
            <div>{{registerInfo.email}}</div>
            <div>{{registerInfo.password}}</div>
            <div>{{registerInfo.dateOfBirth}}</div>
            <div>{{registerInfo.phone}}</div>
            <div>{{registerInfo.address}}</div>
            <div>{{registerInfo.gender}}</div>
            <div>{{registerInfo.interests}}</div>
          </article>
        </section>
        <aside class="row regis">

          <!--<button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i>
            </button>
            <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i>
            </button>
            adding some br's maybe it will be better with CSS ?-->
          </br>
          <button class="button button-block  button-calm" ng-click="register()">РЕГИСТРИРАЙ МЕ</button>
          </br>
          Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span
            class="input-label">Влезте</span></a>
        </aside>

      </ion-slide>

    </ion-slide-box>

  </ion-content>

</ion-modal-view>
