<ion-modal-view>
  <!--<ion-header-bar>-->
  <!--&lt;!&ndash;<h1 class="title">Login or register to proceed</h1>&ndash;&gt;-->
  <!--</ion-header-bar>-->
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-init="disableSwipe()">

      <!--First slide-->

   <ion-slide>
     <div class="content-list">
        <section class="list">
           <article class="logo">
           </article>
           <article class="into-login">
                  <i class="ion-android-person"></i>
                  <label class="item item-input item-floating-label item-into">
                    <span class="input-label">Име</span>
                    <input type="text" placeholder="Име" ng-model="registerInfo.name">
                  </label></br>
                  <i class="ion-ios-email-outline"></i>
                  <label class="item item-input item-floating-label item-into">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="registerInfo.email">
                  </label></br>
                  <i class="ion-ios-locked-outline"></i>
                  <label class="item item-input item-floating-label item-into">
                    <span class="input-label">Парола</span>
                    <input type="password" placeholder="Парола" ng-model="registerInfo.password">
                  </label></br>
                  <i class="ion-iphone"></i>
                  <label class="item item-input item-floating-label item-into">
                    <span class="input-label">Телефон</span>
                    <input type="text" placeholder="Телефон" ng-model="registerInfo.phone">
                  </label>
            </article>
        </section>
        <aside class="regis">
            <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i></button>
            <!--adding some br's maybe it will be better with CSS ?-->

            Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span class="input-label">Влезте</span></a>
       </aside>
	</div>
      </ion-slide>

      <!--Second slide-->

      <ion-slide>
          <div class="content-list">
            <section class="list">
                <article class="logo">
                </article>
                <article class="into-login">
                		<i class="ion-ios-location-outline"></i>
                        <label class="item item-input item-floating-label item-into">
                          <span class="input-label">Адрес</span>
                          <input type="text" placeholder="Адрес" ng-model="registerInfo.address">
                        </label></br>
                        <i class="ion-ios-locked-outline"></i>
                        <label class="item item-input item-floating-label item-into">
                          <span class="input-label">Рожденна дата</span>
                          <input type="text" placeholder="Рожденна дата" ng-click="openDatePicker()"
                                 ng-model="registerInfo.dateOfBirth ">
                          <!--| date : 'd-MMM-yyyy'-->
                        </label></br>
                         <i class="ion-transgender"></i>
                        <label class="item item-input item-floating-label item-into">
                          <span class="input-label">Пол</span>
                          <input type="text" placeholder="Пол" ng-model="registerInfo.gender">
                        </label></br>
                         <i class="ion-ios-wineglass-outline"></i>
                        <label class="item item-input item-floating-label item-into">
                          <span class="input-label">Интереси</span>
                          <input type="text" placeholder="Интереси" ng-model="registerInfo.interests">
                        </label>
                </article>
          </section>
		<aside class="regis">
          <button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i></button>
          <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i></button>
          <!--adding some br's maybe it will be better with CSS ?-->

          Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span class="input-label">Влезте</span></a>
          </aside>

        </div>

      </ion-slide>

      <!--Third slide-->
  <ion-slide>
          <div class="content-list">
            <section class="list">
                <article> <div class="logo"></div></article>
                <article class="into-login">
                    <h2 style="font-size: 1em;  margin-top: 9%;  margin-bottom: 2%;"> Добави снимка </h2>
                    <label class="fileContainer">
                   		<i class="ion-ios-camera-outline" style=" font-size:3em;"></i>
                              <input type="file" accept="image/*" id="capture" capture="camera" ng-model="registerInfo.avatar">
                    </label>
                </article>
       		</section>
         	<aside class="regis">
        <button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i></button>
        <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i></button>
       </br>
       Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span class="input-label">Влезте</span></a>
         </aside>
          </div>
      </ion-slide>

      <!--Forth slide-->

     <ion-slide>
          <div class="content-list">
            <section class="list">
                <article> <div class="logo"></div></article>
                 <article class="into-login">
                	 <h1  style="color: rgb(120, 103, 30);"> Добави социална мрежа</h1>
                    <button class="fa ion-social-facebook button button-block " ng-click="loginWithFacebook()" style="background-color: rgb(47, 123, 189);"></button>
                    <button class="fa ion-social-twitter button button-block " ng-click="loginWithtwitter()" style="background-color: rgb(0, 191, 243);"></button>
                     <button class="fa ion-social-googleplus button button-block " ng-click="loginWithGoogle()" style="background-color: rgb(217, 3, 74);"></button>
                 </article>
    		 </section>
    	 	<aside class="regis">
                <button class="button button-block button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i></button>
                <button class="button button-block button-TR" ng-click="nextSlide()"><i class="ion-arrow-right-c"></i></button>
               Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span class="input-label">Влезте</span></a>
           </aside>
         </div>
      </ion-slide>

     <ion-slide>
         <div class="content-list">
            <section class="list">

                <article class="into-login">
                    <div>{{registerInfo.name}}</div>
                    <div>{{registerInfo.email}}</div>
                    <div>{{registerInfo.password}}</div>
                    <div>{{registerInfo.dateOfBirth}}</div>
                    <div>{{registerInfo.phone}}</div>
                    <div>{{registerInfo.address}}</div>
                    <div>{{registerInfo.gender}}</div>
                    <div>{{registerInfo.interests}}</div>
				</article>
     		</section>
        <aside class="regis">
           <button class="button button-block  button-TR" ng-click="previousSlide()"><i class="ion-arrow-left-c"></i></button>
           <button class="button button-block  button-calm" ng-click="register()">РЕГИСТРИРАЙ МЕ</button>
           Вече имате акаунт ? <a class="reg" ng-href="" ng-click="callLoginModal()"><span class="input-label">Влезте</span></a>
        </aside>
		</div>
     </ion-slide>

    </ion-slide-box>

  </ion-content>

</ion-modal-view>
