<ion-view view-title="Create New Dare" name="new-dare-view">
  <ion-content padding="true">
    <style>
      .item-content {
        background-color: skyblue !important;
      }
      .ng-valid-parse{
        background-color: black !important;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    </style>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Dare Name">
      </label>
      <label padding="true" class="item item-input">
        <textarea placeholder="Dare Description" rows="8" cols="10"></textarea>
      </label>
      <h3>Choose Category</h3>

      <div class="row">
        <div class="col">
          <ion-radio ng-model="choice" ng-value="'A'" icon="ion-ios-chatbubble">Choose A</ion-radio>
        </div>
        <div class="col">
          <ion-radio ng-model="choice" ng-value="'B'" icon="ion-ios-chatbubble">Choose B</ion-radio>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ion-radio ng-model="choice" ng-value="'C'" icon="ion-ios-chatbubble">Choose C</ion-radio>
        </div>
        <div class="col">
          <ion-radio ng-model="choice" ng-value="'D'" icon="ion-ios-chatbubble">Choose D</ion-radio>
        </div>
      </div>
      <h3>Duration</h3>
      <label class="item item-input">
        <span class="input-label">From</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">To</span>
        <input type="date">
      </label>
      <h3>Payment:</h3>
      <label class="item item-input">
        <span class="input-label">From</span>
        <input type="number" min="0" max="50">
      </label>
      <label class="item item-input">
        <span class="input-label">To</span>
        <input type="number" min="0" max="50">
      </label>
      <h3>Image</h3>
      <div class="list">
        <img class="center" src="../../img/adam.jpg" width="50%">
      </div>
    </div>
  </ion-content>
</ion-view>
