<ion-view>
	  <ion-content  class="Activity">
    <div class="height">
        <h1>Активност</h1>
        <i class="ion-chevron-left" ng-click="activitiesModal.hide()"></i>
	</div>
    <ion-list>
      <ion-item class="item item-avatar">
        <img src="img/adam.jpg">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
         </div>
        <p class="p">Наблюдава 5 ваши предизвикателства</p>
       <div class="img">
        <a href="#"><img src="img/flower.jpg"></a>
        <a href="#"><img src="img/orange.jpg"></a>
        <a href="#"><img src="img/roses.jpg"></a>
        <a href="#"><img src="img/roses.jpg"></a>
       </div>
      </ion-item>
                <hr width="90%">
      <ion-item class="item item-avatar">
      	<img src="img/photo.jpg">
        <div>
        <h2>Мария Минчева</h2>
        <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
        </div>
        <p class="p">Ви последва</p>

      </ion-item>
                 <hr width="90%">

      <ion-item class="item item-avatar">
      		<img src="img/ben.png">
        <div>
        <h2>Станислав Мартинов</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
         </div>
        <p  class="p">Коментира</p>

     </ion-item>

      <ion-item class="com">
      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem Ipsum</p>
          <a href="#"><img  class="challenger" src="img/flower.jpg"></a>
      </ion-item>

                       <hr width="90%">

      <ion-item class="item item-avatar">
      		<img src="img/photo.jpg">
        <div>
        <h2>Мария Минчева</h2>
        <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
        </div>
        <p class="p">Наблюдава 3 ваши преизвикателства</p>
		<div class="img">
        <a href="#"><img src="img/roses.jpg"></a>
        <a href="#"><img src="img/orange.jpg"></a>
        <a href="#"><img src="img/flower.jpg"></a>
    </div>
      </ion-item>
	                    <hr width="90%">
     
      
      <ion-item class="item item-avatar">
        <img src="img/ben.png">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 52 минути</p>
         </div>
        <p class="p">Ви последва</p>
      </ion-item>
        <ion-item class="com">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem Ipsum</p>
    
      </ion-item>
    </ion-list>

	</ion-content>
</ion-view>
