<ion-view>

	<ion-content  class="Activity">
	<div class="height">
		<h1>Активност</h1>
		<i class="ion-chevron-left" ng-click="activitiesModal.hide()"></i>
	</div>
	<ion-list>
		<ion-item class="item item-avatar" ng-repeat="notification  in notifications" >
			<img ng-src="{{notification.sender.picture.fileString ? notification.sender.picture.fileString :  'img/avatar.png'}}">
			<div>
				<h2>
					{{notification.sender.name ? notification.sender.name : notification.sender.email}}
				</h2>
				 <p>
				 	<i class="ion-ios-clock-outline"></i>
				 	Преди 15 минути
					<!-- <span am-time-ago="notification.createdOn | amParse:'YYYY.MM.DD HH:mm:ss'">
						
					</span> -->
				 </p>
				 </div>
				<p class="p">
					{{notification.message}}
				</p>
				 <div class="img" ng-if="notification.refObjectID">
					<a href="#" ng-repeat='picture in notification.refObjectID.pictures'><img ng-src="{{picture.fileString}}"></a>
				 </div>
			</div>
		 <hr width="90%">
		</ion-item>
		
	<!-- 	<ion-item class="item item-avatar">
			<img src="img/photo.jpg">
			<div>
			<h2>Мария Минчева</h2>
			<p>Преди 15 минути</p>
			</div>
			<p class="p">Ви последва</p>

		</ion-item>
		 <hr width="90%"> -->
<!-- 
		<ion-item class="item item-avatar">
				<img src="img/ben.png">
			<div>
			<h2>Станислав Мартинов</h2>
			 <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
			 </div>
			<p  class="p">Коментира</p>
		 </ion-item>

		<ion-item class="com">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem Ipsum</p>
			<a href="#"><img  class="challenger" src="img/flower.jpg"></a>
		</ion-item>

		 <hr width="90%">
		</ion-list> -->

	</ion-content>
</ion-view>
