<ion-view>

  <ion-content class="cont">
    <i class="ion-arrow-left-a" ng-click="sideMenuMyFavoritesModal.hide()"></i>
    <h1>Любими предизвикателства</h1>

    <ion-list>

      <ion-item>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <img src="http://placehold.it/350x150" alt="">
          </ion-slide>
          <ion-slide>
            <img src="http://placehold.it/350x150" alt="">
          </ion-slide>
          <ion-slide>
            <img src="http://placehold.it/350x150" alt="">
          </ion-slide>
        </ion-slide-box>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
