<ion-view>
  <ion-content class="cont">
  <div class="height">
    <h1>Любими предизвикателства</h1>
	<i class="ion-arrow-left-a" ng-click="favoritesModal.hide()"></i>
	</div>
	
    <ion-list>
      <ion-item>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <img src="img/350x150.png" alt="">
          </ion-slide>
          <ion-slide>
            <img src="img/350x150.png" alt="">
          </ion-slide>
          <ion-slide>
            <img src="img/350x150.png" alt="">
          </ion-slide>
        </ion-slide-box>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
