<ion-view>

    <ion-content class="Notifications">
    <i class="ion-chevron-left" ng-click="sideMenuMyNotoficationsModal.hide()" style="font-size:2em;"></i>

    <ion-list>
      <span><i class="ion-ios-heart-outline"></i></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
         </div>
        <p class="p">Наблюдава 5 ваши предизвикателства</p>
       <div class="img">
        <img src="img/roses.jpg">
        <img src="img/flower.jpg">
        <img src="img/orange.jpg">
        <img src="img/flower.jpg">
		</div>
      </ion-item>

	<span><i class="ion-ios-chatbubble-outline"></i></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Мария Минчева</h2>
        <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
        </div>
        <p class="p">Ви последва</p>

      </ion-item>

	 <span><i class="ion-ios-heart-outline"></i></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Станислав Мартинов</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
         </div>
        <p  class="p">Коментира ваша снимка</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur atque corporis cumque,
          eaque eligen</p>
      </ion-item>

	<span><i class="ion-ios-plus-empty"></i></span>
      <ion-item class="item item-avatar">

        <div>
        <h2>Мария Минчева</h2>
        <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
        </div>
        <p class="p">Наблюдава 3 ваши преизвикателства</p>
		<div class="img">
        <img src="img/flower.jpg">
        <img src="img/roses.jpg">
        <img src="img/orange.jpg">
        </div>
      </ion-item>
	 <span><i class="ion-ios-chatbubble-outline"></i></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 52 минути</p>
         </div>
        <p class="p">Коментира ваша снимка</p>
        <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem dolore dolorem nulla optio pariatur
          reprehenderit velit veniam. Consequuntur eos esse facere fugit nostrum numquam perspiciatis quas, quia
          voluptas. Necessitatibus!</p></div>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
