
<ion-view>

    <ion-content class="Notifications">

    <div class="height">
               <h1>Известия</h1>
        <i class="ion-chevron-left" ng-click="sideMenuMyNotoficationsModal.hide()" style="font-size:2em;position: relative;right: 47%;top: 20%;color: #fff;"></i>

    </div>
  
    <ion-list>
      <span><img src="img/comment2.png" style="width: 80%;"></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
         </div>
        <p class="p">Наблюдава 5 ваши предизвикателства</p>
       <div class="img">
        <a href="#"><img src="img/flower.jpg"></a>
        <a href="#"><img src="img/orange.jpg"></a>
        <a href="#"><img src="img/roses.jpg"></a>
       </div>
      </ion-item>

	<span><img src="img/comment2.png" style="width: 80%;"></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Мария Минчева</h2>
        <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
        </div>
        <p class="p">Ви последва</p>

      </ion-item>

	 <span><img src="img/comment2.png" style="width: 80%;"></span>
      <ion-item class="item item-avatar">

        <div>
        <h2>Станислав Мартинов</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
         </div>
        <p  class="p">Коментира</p>

     </ion-item>

      <ion-item class="com"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem Ipsum</p></ion-item>

	<span><img src="img/add.png" style="width: 80%;"></span>
      <ion-item class="item item-avatar">

        <div>
        <h2>Мария Минчева</h2>
        <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
        </div>
        <p class="p">Наблюдава 3 ваши преизвикателства</p>
		<div class="img">
        <a href="#"><img src="img/roses.jpg"></a>
        <a href="#"><img src="img/orange.jpg"></a>
        <a href="#"><img src="img/flower.jpg"></a>
        <a href="#"><img src="img/orange.jpg"></a>
        <a href="#"><img src="img/roses.jpg"></a>
    
        </div>
      </ion-item>
	  <span><img src="img/comment2.png" style="width: 80%;"></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 52 минути</p>
         </div>
        <p class="p">Ви последва</p>
      </ion-item>
      
      <span><img src="img/add.png" style="width: 80%;"></span>
      <ion-item class="item item-avatar">
        <div>
        <h2>Петър Георгиев</h2>
         <p><i class="ion-ios-clock-outline"></i>Преди 52 минути</p>
         </div>
        <p class="p">Ви последва</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
