<ion-view>
	<ion-content class="Profile">

		<div class="profile-info">
			<img class="profile-avatar" src="img/avatar.png">

			<div class="profile-user-credentials">
				<h2 class="profile-username">Милена Милева</h2>
				<p class="profile-email">milena.m@gmail.com</p>
			</div>

		</div>

		<div class="profile-info-list">
			<span class="profile-menu-item">
				<i class="app-icon app-icon-activities-active"><a href="#/app/activity"></i>Активност</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-fav-active"></i><a href="#/app/timeline">Моите предизвикателства</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-chat-active"></i><a href="#/app/chat">Съобщения</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-notification-active"></i><a href="#/app/notifications">Известия</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-friends-active"></i><a href="#/app/friends">Приятели </a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-love-active"></i><a href="#/app/favorites">Любими</a>
			</span>
		</div>

	</ion-content>
</ion-view>
