<ion-view>
	<ion-content class="Profile has-header">
		<div class="profile-info">
			<img class="profile-avatar" src="img/avatar.png">

			<div class="profile-user-credentials">
				<h2 class="profile-username">{{user.data.name}}</h2>
				<p class="profile-email">{{user.data.email}}</p>
			</div>

		</div>

		<div class="profile-info-list">
			<span class="profile-menu-item">
				<i class="app-icon app-icon-activities-active"></i>
				<a href="#/app/activity">
					Активност
				</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-fav-active"></i><a href="#/app/mydares">Моите предизвикателства</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-chat-active"></i><a href="#/app/chat">Съобщения</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-notification-active"></i>
				<a href="#/app/notifications">
					Известия
						<span  ng-show="notificationsCount > 0" class="badge badge-calm">{{notificationsCount}}</span>
				</a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-friends-active"></i><a href="#/friends">Приятели </a>
			</span>
			<span class="profile-menu-item">
				<i class="app-icon-love-active"></i><a href="#/favorites">Любими</a>
			</span>
		</div>

	</ion-content>
</ion-view>
