<ion-view>
	<ion-content class="Profile">

		<div class="bar bar-header">
			<img class="icon-img profile-avatar" src="img/avatar.png">
			<div>
				<h2>User Name Here</h2>
				<p>email@email.com</p>
			</div>
		</div>
		<div class="list">
			<a class="item item-icon-left" href="#/app/activity"><i class="profile-icons ion-alert-circled"></i>Активност</a>
			<a class="item item-icon-left" href="#/app/timeline"><i class="profile-icons ion-alert-circled"></i>Моите предизвикателства</a>
			<a class="item item-icon-left" href="#/app/chat"><i class="profile-icons ion-alert-circled"></i>Съобщения</a>
			<a class="item item-icon-left" href="#/app/notifications"><i class="profile-icons ion-alert-circled"></i>Известия</a>
			<a class="item item-icon-left" href="#/app/friends"> <i class="profile-icons ion-alert-circled"></i>Приятели </a>
			<a class="item item-icon-left" href="#/app/favorites"><i class="profile-icons ion-alert-circled"></i>Любими</a>
		</div>
	</ion-content>
</ion-view>
