<ion-view>
  <ion-content class="Settings">
  <div class="height">
        <i class="ion-chevron-left" ng-click="settingsModal.hide()"></i>
    </div>
    <!-- <i class="ion-chevron-left" ng-click="sideMenuSettingsModal.hide()"></i> -->
    <ion-list>
      <h1>Настройки на профила</h1>
      <ion-item class="item-toggle">
        Онлайн
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Покани
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Опция 3
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Опция 4
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

    </ion-list>
    <ion-list>
      <h1>Настройки на профила</h1>
      <ion-item class="item-toggle">
        Онлайн
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Покани
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Опция 3
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Опция 4
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

    </ion-list>
    <ion-list>
      <h1>Настройки на профила</h1>
      <ion-item class="item-toggle">
        Онлайн
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Покани
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
