<ion-view view-title="Profile">
	<ion-content class="cont">
		<div class="bar bar-header">
			<!-- <img class="fa" src="{{user.avatar}}"> -->
			<img class="fa" src="https://api.adorable.io/avatars/285/ryuuu@adorable">

			<div>
				<h2>{{user.name}}</h2>
				<p>{{user.email}}</p>
			</div>
		</div>
		<div class="content has-header">
			<div class="list">
				<a class="item item-icon-left" href="#/app/activity"><i class="fa fa-activities-active"></i>Активност</a>
				<div class="item item-icon-left" ng-click="callMyDares()"><i class="fa fa-fav-active"></i>Моите предизвикателства</div>
				<a class="item item-icon-left" ng-href="#/app/chat"><i class="fa fa-chat-active"></i>Съобщения</a>
				<a class="item item-icon-left" href="#/app/notifications" ng-click="callMyNotifications()"><i class="fa fa-notification-active"></i>Известия</a>
				<a class="item item-icon-left" href="#/app/friends">
					<i class="fa  fa-friends-active"></i> Приятели
				</a>
				<a class="item item-icon-left" href="#/app/favorites"><i class="fa fa-love-active"></i>Любими</a>
			</div>
		</div>
	</ion-content>
</ion-view>
