<ion-modal-view>

  <ion-content>
    <i class="ion-arrow-left-a" ng-click="sideMenuActivityModal.hide()"></i>
    <h1>Activity</h1>

    <ion-list>
      <ion-item class="item item-avatar">

        <img src="profilePicture.jpg">
        <h2>Петър Георгиев</h2>
        <p>Наблюдава 5 ваши предизвикателства</p>
        <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
        <img src="profilePicture.jpg">
        <img src="profilePicture.jpg">
        <img src="profilePicture.jpg">
        <img src="profilePicture.jpg">

      </ion-item>

      <ion-item class="item item-avatar">

        <img src="profilePicture.jpg">
        <h2>Мария Минчева</h2>
        <p>Ви последва</p>
        <p><i class="ion-ios-clock-outline"></i>Преди 15 минути</p>
      </ion-item>

      <ion-item class="item item-avatar">

        <img src="profilePicture.jpg">
        <h2>Станислав Мартинов</h2>
        <p>Коментира ваша снимка</p>
        <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur atque corporis cumque,
          eaque eligen</p>
        <img src="testimage.jpg" alt="">
      </ion-item>

      <ion-item class="item item-avatar">

        <img src="profilePicture.jpg">
        <h2>Мария Минчева</h2>
        <p>Наблюдава 3 ваши преизвикателства</p>
        <p><i class="ion-ios-clock-outline"></i>Преди 34 минути</p>
        <img src="profilePicture.jpg">
        <img src="profilePicture.jpg">
        <img src="profilePicture.jpg">
      </ion-item>

      <ion-item class="item item-avatar">

        <img src="profilePicture.jpg">
        <h2>Петър Георгиев</h2>
        <p>Коментира ваша снимка</p>
        <p><i class="ion-ios-clock-outline"></i>Преди 52 минути</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem dolore dolorem nulla optio pariatur reprehenderit velit veniam. Consequuntur eos esse facere fugit nostrum numquam perspiciatis quas, quia voluptas. Necessitatibus!</p>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-modal-view>
