<ion-view>
	  <ion-content class="cont">
		<div class="bar bar-header" style='font-size:2em'>
			<a href=""  ng-click="sideMenuActivityModal.hide()">
				<i class="ion-ios-close-outline"></i>
			</a>
			<span>
				<h3>Моите предизвикателства</h3>
			</span>
		</div>
		<div class="content has-header padding">
			<div class="list card" ng-repeat="challenge in challenges">
				<!-- include the timeline card -->
				<div class="item item-image" ng-include src="'templates/div-timelineCard.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>
