<ion-modal-view>

    <ion-content class="cont">
	   <div class="bar bar-header" ng-click="sideMenuMyFavoritesModal.hide()">
				<i class="ion-chevron-left" style="color:#fff;"></i>
				<h3>Любими предизвикателства</h3>
		</div>
		<div class="content has-header padding">
			<ion-list>

			  <ion-item>
				<ion-slide-box on-slide-changed="slideHasChanged($index)">
				  <ion-slide>
					<img src="http://placehold.it/350x150" alt="">
				  </ion-slide>
				  <ion-slide>
					<img src="http://placehold.it/350x150" alt="">
				  </ion-slide>
				  <ion-slide>
					<img src="http://placehold.it/350x150" alt="">
				  </ion-slide>
				</ion-slide-box>
			  </ion-item>

			</ion-list>
		</div>
  </ion-content>
</ion-modal-view>
