<ion-modal-view>

  <ion-content>
    <i class="ion-arrow-left-a" ng-click="sideMenuModal.hide()"></i>

    <a class="item item-avatar">
      <img src="profilePicture.jpg">
      <h2>User Name Here</h2>
      <p>email@email.com</p>
    </a>


    <div ng-click="callActivity()"><i class="ion-android-person"></i>Активност</div>
    <div ng-click="callMyDares()"><i class="ion-android-person"></i>Моите предизвикателства</div>
    <div ng-click="callMyMessages()"><i class="ion-android-person"></i>Съобщения</div>
    <div ng-click="callMyNotifications()"><i class="ion-android-person"></i>Известия</div>
    <div ng-click="callMyFriends()"><i class="ion-android-person"></i>Приятели</div>
    <div ng-click="callMyFavorites()"><i class="ion-android-person"></i>Любими</div>

  </ion-content>
</ion-modal-view>
