<ion-view view-title="Public Chat Test" name="login-view">

  <ion-content class="padding">

    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="button-bar bar-light">-->
          <!--<a class="button" ng-click="switchRoom(1)">Room1</a>-->
          <!--<a class="button" ng-click="switchRoom(2)">Room2</a>-->
          <!--<a class="button" ng-click="switchRoom(3)">Room3</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-90">
        <ion-list>
          <ion-item ng-repeat="msg in messages track by $index">
            from : <strong>{{msg.sender}}</strong>
            to : <strong>{{msg.reciever}}</strong>
            <div ng-class="{'strike': theItem, left : right}">
              {{msg.message}}
            </div>
          </ion-item>
        </ion-list>
      </div>
      <div class="col">
        <!--users online here-->
        <ion-list>
          <ion-item>
            <h2>Users Online :</h2>
          </ion-item>
          <ion-item ng-repeat="user in onlineUsers track by $index" ng-href="#/tab/chat/{{user.user}}">
            {{user.user}}
          </ion-item>
        </ion-list>
      </div>
    </div>
    <ion-refresher
      pulling-text="Pull to clear !"
      on-refresh="clearAllMessages()">
    </ion-refresher>


  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()"
             ng-model="message" on-focus="inputUp()" on-blur="inputDown()"/>
    </label>

    <button ng-model="deleted" class="button button-clear" ng-click="emit(message)">
      Send
    </button>

  </ion-footer-bar>
</ion-view>
