

	
/*some helpful varibals*/		

@mixin position-style{margin: 1%;
					  padding: 1%;
					  width: 100%;
					}	
@mixin background-bordernone{
			  background: transparent;    
			  border: none;
			}					

@mixin radius-fa{
		color: #fff;
		border-radius: 50%;
		display: inline-block;
		}