
@import "timeline_mixins";

.Category{
      @include gray_background;
  a:-webkit-any-link {
    text-decoration: none;
} 


  .box1{
    margin-top:5px;
    vertical-align: top;
    margin-left: 2.5px;
    width: 48%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/funBig.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 60%;
    float:left;
  }

   .box2{
    margin-top:5px;
    margin-left: 9px;
    vertical-align: top;
    width: 48%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/BusinessBig.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60%;
    float:left;
    
  }

  .box3{
    margin-top:10px;
    margin-left: 2.5px;
    margin-bottom: 5px;
    width: 48%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/prizeBig.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60%;
    float:left;
    
  }

   .box4{
    margin-top:10px;
    margin-left: 9px;
    margin-bottom: 5px;
    width: 48%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/charityBig.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60%;
    float:left;
    
  }

  main h1{
    display: block;
    font-size: 1.5em;
    text-align: center;
    
  }

  main p{
    display: block;
    font-size: 80%;
    padding-top: 27vh;
    margin-left: 9vw;
    text-align: center;
    color: #03b2d1;
    text-decoration: none !important;
    width: 61%;
  }

  .underline{
    text-decoration: none;
  }


  .color1{
    color: #056686;
    margin-top: 2vh;
  
  }

  .color2{
    color: #dc9138;
    margin-top: 2vh;
  }

  .color3{
    color: #cd4c4c;
    margin-top: 2vh;
  }

  .color4{
    color: #3b51a2;
    margin-top: 2vh;
  }
}

 