
.Category{
  a:-webkit-any-link {
    text-decoration: none;
}

  main{
    min-width:100%;
    background-color:#e8edf0;
    margin: 0 auto;
  }

  .box1{
    display:inline-block;
    vertical-align: top;
    width: 47%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/funBig.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 60%;
    margin:1%;
  }

   .box2{
    display:inline-block;
    vertical-align: top;
    width: 47%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/BusinessBig.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60%;
    margin:1%;
  }

  .box3{
    display:inline-block;
    width: 47%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/prizeBig.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60%;
    margin:1%;
  }

   .box4{
    display:inline-block;
    width: 47%;
    height: 42vh;
    background-color:#fff;
    background-image:url(../img/charityBig.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60%;
    margin:1%;
  }

  main h1{
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10% !important;
  }

  main p{
    display: block;
    font-size:80%;;
    text-align: center;
    color: #03b2d1;
    padding-top: 15em;
    text-decoration: none !important;
  }

  .underline{
    text-decoration: none;
  }


  .color1{
    color: #056686;
  
  }

  .color2{
    color: #dc9138;
  }

  .color3{
    color: #cd4c4c;
  }

  .color4{
    color: #3b51a2;
  }
}

 