
// $stable:                          #f8f8f8 !default;


.messages {
    background-color: #e8edf0;
  .message {
    flex: 1 1 auto !important;
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    transform: translate3d(0, 0, 0) !important;

  }
  .avatar{
    // border:1px solid black !important;
    // padding-top:50px;
    border-radius: 50% !important;
  }
  .time{
    color: #000;
    margin-top: 20px;
  }
  span {
    background:#C7C7CC !important;
    display: inline-block !important;
    color: white !important;
    padding: 10px !important;
    // padding-top: 20px;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
    .time{
      color:white;

    }
  }

}
//This will change
.messages.other {
  .message {
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
    .avatar{
      display: none;
    }
  }
  .message.slide-right {
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: black !important;
    background-color:#007AFF !important;
    margin-top: 12px;
  }
}
