@charset "utf-8";
@import "mixins";
@import "varibals";

.Contacts{@include Mine_Gray_background;
	
	ion-list {margin-top:10em;
		.f{
				text-align: center;
    			font-size: 1rem;
				line-height: 5vh;
				margin: 0 auto;		
			}

		}
		form{
			display: inline-block;
			width: 100%;
			padding:5%;
			height: 73vh;
		}

		article .log{
					display: block;
    				position: relative;
					left: 0%;
    				padding: 3%;
    				width: 100%;
    				height: auto;
    				font-size: 1em;
    				line-height: 1.8;
    				box-sizing: border-box;
			}

		.input-group-user{
					position: relative;
					background-color: #fff;
					background-image: url(../img/icons/user1.png);
					background-repeat: no-repeat;
					background-size: 20px;
    				background-position: 3%;
					width: 100%;
					height: 8vh;
					margin-top:3%;
								
								}
		.input-group-mail{
					position: relative;
					background-color: #fff;
					background-image: url(../img/icons/mail.png);
					background-repeat: no-repeat;
					background-size: 20px;
    				background-position: 3%;
					width: 100%;
					height: 8vh;
					margin-top:3%;
								
								}
		.input-group-phone{
					position: relative;
					background-color: #fff;
					background-image: url(../img/icons/phone.png);
					background-repeat: no-repeat;
					background-size: 20px;
    				background-position: 3%;
					width: 100%;
					height: 8vh;
					margin-top:3%;
							
								}
		.input-group-message{
					position: relative;
					background-color: #fff;
					background-image: url(../img/icons/pencil.png);
					background-repeat: no-repeat;
					background-size: 20px;
    				background-position-y:15%;
    				background-position-x:3%;
					width: 100%;
					height: 8vh;
					margin-top:3%;
								
								}

		.group-location{
					position: relative;
					background-color: #e8edf0;
					background-image: url(../img/icons/location-icon.png);
					background-repeat: no-repeat;
					background-size: 15px;
    				background-position-y:15%;
    				background-position-x:7%;
					width: 100%;
					height: 8vh;
					margin-top:3%;
							p{
								font-size: 0.8em;
								padding-left: 19%;
								line-height: 4vh;
							}
						}
		.group-phone{
					position: relative;
					background-color: #e8edf0;
					background-image: url(../img/icons/phone.png);
					background-repeat: no-repeat;
					background-size: 15px;
    				background-position-y:15%;
    				background-position-x:7%;
					width: 100%;
					height: 8vh;
					margin-top:3%;
							p{
								font-size: 0.8em;
								padding-left: 19%;
								line-height: 4vh;
							}
						}
			.empty{
					width: 100%;
					height: 8vh;
					margin-top:3%;
					background-color: #e8edf0;
								}		
				i{
					width: 3vh;
    				height: 5vh;
    				text-rendering: auto;
    				float: left;
								}
				.name{
   				 	padding-left: 4em;
    				padding-top: 1.6em;
    				width: 100%;
   	 				text-align: left;
   				 	background-color: transparent;			

								}
				.name-2{
					padding-left: 4em;
    				padding-top: 1.3em;
    				width: 100%;
    				height: 17vh;
   	 				text-align: left;
									}
			
				.button-blue{
					color: orange;
					background-color:#012438;
					width: 82%;
					height: 8vh;
					border-radius: 0px;
					margin: 13% 9%;
								}
				article .button-block{
						color:#fff;
						width: 14%;
    					border-radius: 50%;
    					display: inline-block;
    					vertical-align: top;
    					margin: 10% 1% 10% 12.5%;
					}
				::-webkit-input-placeholder {
  									 color: #03b2d1;
									}

				:-moz-placeholder { /* Firefox 18- */
  									 color: #03b2d1;  
									}

				::-moz-placeholder {  /* Firefox 19+ */
   									color: #03b2d1; 
									}

				:-ms-input-placeholder {  
  									 color: #03b2d1;  
									}
				@media screen and (min-width: $tablet-width){
					.group-location p{
						font-size: 2.8em;
					}
					.group-phone p{
						font-size: 2.8em;
					}

					ion-list .f{
						font-size: 3rem;
						line-height: 15vh;
					}

					.group-location{
						background-size: 25px;
					}
					.group-phone{
						background-size: 25px;
					}

					.input-group-mail{

					}

						form .name{
   				 	padding-left: 12em;
    				padding-top: 1.6em;
    							

								}
				form .name-2{
					padding-left: 12em;
    				padding-top: 1.3em;
    			
									}
				input[type="text"]{
					height: 4.5em;
					font-size: 2em;
							}
				input[type="email"]{
				height: 4.5em;
							}
				.button-blue{
					margin: 7% 9%;
				}
				article .button-block{
					width: 5%;
					margin: 10% 8% 10% 16%;

				}
										}
@media screen and (min-height: $tablet-height){
					.group-location p{
						font-size: 2.8em;
					}
					.group-phone p{
						font-size: 2.8em;
					}

					ion-list .f{
						font-size: 3rem;
						line-height: 15vh;
					}

					.group-location{
						background-size: 25px;
					}
					.group-phone{
						background-size: 25px;
					}

					.input-group-mail{

					}

						form .name{
   				 	padding-left: 6em;
    				padding-top: 1.6em;
    							
							}
				form .name-2{
					padding-left: 12em;
    				padding-top: 1.3em;
    				font-size: 2em;
    				padding-left: 6em;
									}
				input[type="text"]{
					height: 4.5em;
					font-size: 2em;
							}
				input[type="email"]{
				height: 4.5em;
				font-size: 2em;
							}
				.button-blue{
					margin: 7% 9%;
				}
				article .button-block{
					width: 5%;
					margin: 10% 8% 10% 16%;

				}

				// .bar-positive{
				// 	height: 6em;
				// 	background-color: red;
				// }
				}

	}

				

 									
 						  
   	
