@import 'mixins';
@import 'timeline_mixins';
/* CSS Timeline	slidder and footer*/

.timeline {
	@include gray_background;

	.item {
		@include background-bordernone;
	}


	@media only screen and (device-width: 768px) {
		.TimeLineCard .footer  {
			.ng-binding {
				font-size: 1.5vh;
				.profil-avatar {
						    margin-top: -8%;
						    margin-left: 0%;
						    min-width: 6em;
						    min-height: 6em;
						}
			}
			 span > .fa {
				margin-top: 0vh;

			}
		}


	}
}
