//Overwriting globally bar-positive to fix border color
.bar-positive {
  background-color: #012438 !important;
  border-color: #012438 !important;
}
$positive: #012438 !default;
 
.view-container { 
     background-color: #012438; 
    background-image: url(../img/background.png); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 100% 100%; 
} 
.content-list { 
  background-color:transperent; 
} 
.signup.modal, 
  .login-view.modal { 
     background-color: #012438; 
    background-image: url(../img/background.png); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 100% 100%; 
} 
.login-view .content-list section.list {  
  height:70%; 
} 
@media (min-width: 680px) { 
    .login-view.modal { 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left:0; 
        width: 100%; 
        background-color:transparent; 
  } 
  .login-view .content-list .logo { 
      min-height: 27vh !important; 
  } 
  .signup.modal { 
        top: 7%; 
           bottom: 7%  ; 
  } 
}	