/*-----div web-----*/
.fa {
  	width: 15vw !important;
    height: 10vw;
    display: inline-block;
    font-size: 2em;
    text-rendering: auto;
    border-radius: 50%;
    color: white;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
}
  
  
  /*--icons--*/

.fa-user {
  background: url("../img/icons/user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-user-active{
  background: url("../img/icons/user1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }  

.fa-fav {
  background: url("../img/icons/fav.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-fav-active {
  background: url("../img/icons/fav1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
    
.fa-friends {
  background: url("../img/icons/friends.png");
  background-repeat: no-repeat;
  background-position: center;
    background-size: 50% 50%; }
.fa-friends-active {
  background: url("../img/icons/friends1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
  
.fa-event {
  background: url("../img/icons/event.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-event-active {
  background: url("../img/icons/event1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }

.fa-chat {
  background: url("../img/icons/chat.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 50% 50%; }
.fa-chat-active  {
  background: url("../img/icons/chat1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
  
.fa-stat {
  background: url("../img/icons/stat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-stat-active {
  background: url("../img/icons/stat1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }

.fa-speech {
  background: url("../img/icons/speech.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-speech-active {
  background: url("../img/icons/speech1.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 50% 50%; } 

.fa-out {
  background: url("../img/icons/out.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-out-active  {
  background: url("../img/icons/out1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;   }

.fa-settings {
  background: url("../img/icons/settings.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-settings-active {
  background: url("../img/icons/settings1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;}
  
.fa-history  {
  background: url("../img/icons/history.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-history-active  {
  background: url("../img/icons/history1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
  
.fa-love {
  background: url("../img/icons/love.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-love-active {
  background: url("../img/icons/love1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
  
.fa-notification {
  background: url("../img/icons/notification.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;  }
.fa-notification-active {
  background: url("../img/icons/notification1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;  }
  
.fa-activities {
  background: url("../img/icons/activities.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-activities-active  {
  background: url("../img/icons/activities1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }

.fa-categories {
  background: url("../img/icons/categories.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-categories-active {
  background: url("../img/icons/categories1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }

.fa-left {
  background: url("../img/icons/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-left-active {
  background: url("../img/icons/left1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }

.fa-right {
  background: url("../img/icons/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }
.fa-right-active {
  background: url("../img/icons/right1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%; }

