@charset "utf-8";
/* CSS list */

.disable-user-behavior  {
	.list {
		ion-item, a.item-content{
					border: none;
					background: transparent;		
	}
		a{		text-align: left;

				h2{color:#01cfe4;}
				p{color:#ffb400;}
		}
	
	}
}	
	
	
	


