@charset "utf-8";
@import "mixins";
@import "varibals";

.search {
	@include search-view;

	ion-list {
		@include content-list-view;

		.item-input {
			background: transparent;
			border: none;
			color: #fff;

			i {
				color: orange;
			}
		}
	}
}
