@charset "utf-8";
@import "mixins";

/* CSS activities */
.Activity{
	@include Mine_user_background;
	.height{@include height-heder;}
	h3, h2 {@include large-text;}
	span{@include span-position;}
			
	.challenger{
		width:3em;
		height:2.8em;
		margin-bottom:1.5em;
		margin-left:0.9rem;
	}
		
	/* CSS edit in item */	
	.list{
		@include list-style; 
		ion-item{
			@include list-item-style;
			.p, i{
				 @include left-minutes-style;
				 }
			div	{
				@include div-style;		
				}
			div p{ 
				@include paragraf-style;
				i{
				 @include left-minutes-style;
				 }
				}
			/* CSS imges */
				.img{
				@include image-style;

						img{
							@include image-square;
						}

					}
			}
		}
			.com p{
				 @include paragraf-comentar;
				 width: 63%;
				}

				@media screen and (max-width: 450px){
					
					.com p{
						padding-left: 1rem;
					}

				.list ion-item .img{
					}
					 h2{
						margin-left: 15%;
					}

				ion-item div p{
						margin-right: 3vw;
					}

				}

@media screen and (min-width: $tablet-width){
		h2{margin-left: 18.5%;
	        font-size: 3em;
			margin-top: -3%;}
		.item-avatar>img:first-child{
					min-width: 10em; 
					min-height: 10em;
					margin-left: 6vw;
   				}
					
		.com p{
				margin-left: 2em;
				font-size: 2em;
				padding: 1%;
			}

		.list ion-item {
			.img{margin-left: 5%;
				img{
				    width: 12em;
					height: 10.5em;
				}
			}
			.p{
				margin-left: 25%;
				margin-top: -3em;
				margin-bottom: 1em;
				font-size: 1.5em;
			}
			 div p{
					width: 40%;
					font-size: 1em;
					i{margin: -4%;
					  font-size:2em;
					}
				}	
		}
		.challenger{
				margin-left: -3em;
				margin-TOP: -3em;
				width: 12em;
				height: 10.5em;
				}
		}

@media screen and (min-height: $tablet-height){
	h2{margin-left: 23.5%;
		font-size: 2.5em;
		margin-top: -2%;
		}
	.item-avatar>img:first-child{
			min-width: 10em; 
			min-height: 10em;
			margin-left: 6vw;
   			}
	.com p{
	    margin-left: 2em;
		font-size: 2em;
		padding: 1%;
	    line-height: 1.5;
		margin: 1%;
		}

	.list ion-item {
		.img{margin-left: 5%;
			img{
				width: 12em;
				height: 10.5em;
				}
			}
		.p{
		    margin-left: 25%;
			margin-top: 0em;
			margin-bottom: 2em;
			font-size: 1.5em;
			}
	 div p{
			width: 40%;
			font-size: 1em;
			i{margin: -4%;
			  font-size:2em;
			}
		}			
	}
	.challenger{
				margin-left: 5em;
				margin-TOP: 0em;
				width: 12em;
				height: 10.5em;
			}
		}
	}