@charset "utf-8";
@import "mixins";

/* CSS nothifications */
.Notifications{@include Mine_user_background;
	.height{@include height-heder;}
	h3, h2 {@include large-text;}
	span{@include span-position;}
			
	/* CSS edit in item */	
	.list{@include list-style;
		  ion-item{
			@include list-item-style;
			border-left: 1px solid #fff;
			.p, i{
				@include left-minutes-style;
				 }
			div	{
				@include div-style;	 
				}
			div p{
				@include paragraf-style;
				}
			/* CSS imges */
				.img{
					@include image-style;

						img{
							@include image-square;
						}

					}
			ion-item.text{
				width: 30vw;
				height: 20vh;
			}	
			}
		}
			.com p{	
				 @include paragraf-comentar;
				}
	 }