@charset "utf-8";
/* CSS tabs- Menue */
ion-modal-view {
		.cont {
			 background-image: url(../img/BG.png);
			 background-color: #012438;
			 background-size: 100% 100%;
			 text-align: center;
			h1{ color:#04a4c3;
			 font-size:15px;}
			
				 .list{
						border: none;
						color: #01cfe4;	
						.item-toggle {
										
										text-align: left;
										background: transparent;
										border: none;
										font-size: 15px;
										color: #01cfe4;
										   

										.toggle.toggle-assertive input:checked + .track{
										    border-color: #01cfe4;
											background-color: #01cfe4;
										}
										
										
										
										}
							
						}
	
			}
	}
