@charset "utf-8";
/* CSS activities */
@import "mixins";
.Activity{
	@include Mine_user_background;
	.height{@include height-heder;}
	h3, h2 {@include large-text;}
	span{@include span-position;}
			
	.challenger{
		width:3em;
		height:2.8em;
		margin-bottom:1.5em;
		margin-left:0.9rem;
	}
		
	/* CSS edit in item */	
	.list{background: transparent; 
		  ion-item{
		  		width: 100%;
				height:auto;	
		         border:none;
		         // border-bottom: 1px solid #fff;
 			     margin-left: 1em;
			     color:#fff;
			 	 padding:0;
				 background: transparent;
				 text-align: left;
				 display: inline-block;
		
			
			.p, i{
				color: #ffb400; 
				 width: 100%;
				 margin-left: 18%;
				 padding-right: 1vw;
				 font-size: 70%;
				 }

			div	{width: 98%;
				display:inline-flex; 
				}
			
			div p{ 
				color: #01cfe4;
				margin-left: 3vw;
				margin-top: 4%;
				width: 55%;
				font-size: 70%;
				}
			/* CSS imges */
				.img{
					display: block;
					width: 100%;
					height: auto;
					margin:6% 5% 4% 4%;

						img{
							display: inline;
							width: 4em;
							height: 3.5em;
							padding: 0.3em 1em 0.3em 0;
						}

					}
			}
		}
			.com p{	
				width: 63%;
				padding-left: 1rem;
			    background: transparent;
			    text-align: left;
			    padding-bottom: 1em;
			    display: inline-block;
			    white-space: normal;
			    color: #fff;
				}

				@media screen and (max-width: 450px){
					
					.com p{
						padding-left: 1rem;
					}

				.list ion-item .img{
						margin-left: 5%;
					}
					 h2{
						margin-left: 18%;
						margin-top: 5%;
					}

				ion-item div p{
						margin-right: 3vw;
					}

				}

				@media screen and (min-width: $tablet-width){
						hr{
							width: 90%;
						}

						.item-avatar>img:first-child{
							position: none;
   							margin-left: 4vw;
   							background-color: red;
   						}

					.com p{
						padding-left: 6em;
					}

					.list ion-item .img{
						margin-left: 5%;
					}

					.list ion-item .img img{
						width:7em;
						height: 6.5em;
					}
					 h2{
						margin-left: 4.5%;
						margin-top: 5%;
					}
				ion-item div p{
						margin-left: 2vw;
					}
					.list ion-item .p{
						 margin-left: 4.5%;
					}
					.challenger{
						margin-left: -3em;
					}
				}
}
