@charset "utf-8";
/* CSS left Menue */
.menu-left {
			 background-image: url(../img/BG.png);
			 background-color: #012438;
			 background-size: 100% 100%;
			 text-align: center;
			 display: block;
			 left: 1%;
			  .fa { width: 15vw !important;
					height: 15vw;
					display: inline-block;
					font-size: 2.5em;
					margin-left: 0%;
					margin-bottom: -10%;
					margin-top: -10%;
					}
		div {padding:5%;
			 background: transparent;
				    a.item {margin-bottom: 5%;
							padding:5%;
							text-align: left;
							border: none;
							background: transparent;
							color: #01cfe4;
							i{color: #ffb400; font-size:30px;}
							}
					
			 }
		}
		
		