@charset "utf-8";
@import "mixins";
.SideMenu {
	.menu-left {
	@include Mine_user_background;
	.height{@include height-heder;}
	h3, h2 {@include large-text;}
	span{@include span-position;}
		/*for icons*/
		.app-icon {
			width: 1em !important;
			height: 1em;
			display: inline-block;
			font-size: 2.5em;
			margin-left: 0;
			margin-bottom: -10%;
			margin-top: -10%;
		}
		/*how to be display*/
		div {
			padding: 5%;
			border: none;
			background: transparent;
			a.item {
				margin-bottom: 5%;
				padding: 5%;
				text-align: left;
				border: none;
				background: transparent;
				color: #01cfe4;
				i {
					color: #ffb400;
					font-size: 3em;
				}
			}
		}
	}
}
