@charset "utf-8";
/* CSS for Profil view */
	ion-view  {
		.cont{
		/*  	 */
			 .fa { 	width: 15vw !important;
					height: 15vw;
					display: inline-block;
					float: left;
   					margin-top: -6%
					}

			}
			 .bar {background: transparent;
				   color: #ffb400;
				   div {
					background: transparent;
					display:block;
					color: #ffb400;
					height: auto;
					margin-top: -10%;
					margin-left: 10%;
					h2 {color: #01cfe4;}
				
				}
			
			}
			/* edit some CSS content in content */
			 .content {background: transparent;
			 		   color: #ffb400;
					   margin-top: 10%;	
				 .list{
				 		background: transparent;
						border-color: #ffb400;
						color: #01cfe4;	
						.item-icon-left {
										margin: 5%;
										text-align: left;
										background: transparent;
										border: none;
										font-size: 15px;
										color: #01cfe4;
						}
			}
		}
		}