@charset "utf-8";
@import "mixins";
/* CSS for Profile view */
.Profile {
	@include Mine_user_background;	
	// text-align: center;
	// display: block;
	.profile-info {
		width: 100%;
		display: block;
		height: 20vh;
		//margin-top: 2vh;
		//padding: 3vw;
		font-size: 3vw;

		.profile-avatar {
			float: left;
			margin-left: 11vh;
			// display: inline-block;
			width: 25%;
			height: 12vh;
			border-radius: 50%;
			border: 3px solid white;
		}

		.profile-user-credentials {
			// display: block;
			//margin-top: 1vw;
			//margin-left: 2.5vh;
			margin-right: 25vw;
			float: right;
			// color: white;
			.profile-username {
				font-size: 4vh;
				color: #01cfe4;
				display: block;
			}

			.profile-email {
			//	margin-left: 3vh;
				font-size: 2vh;
				color: #ffb400;
			}
		}
	}

	.profile-info-list {
		padding: 0vh 0vh 0vh 2vh;
		line-height: 1.5;
		display: block;

		.profile-menu-item {
			text-align: left;
			display: block;
			color: red;
			font-size: 2vw;
			padding: 3vw;

			a {
				padding: 2vh;
				color: #01cfe4;
				text-decoration: none;
			}

			i {
				display: inline-flex;
				padding: 2vh 2vh 2vh 5vh;
			}
			.app-icon-activities-active, .app-icon-notification-active,
			.app-icon-fav-active, .app-icon-chat-active,
			.app-icon-friends-active, .app-icon-love-active{
				background-size: 60% 100%;
			}
		}
	}
	// Galaxy S5 360x640
	@media screen and (max-width: 450px) {
		.profile-info {
			display: inline-block;

			.profile-user-credentials {
				// float: right;
				margin-right: 0;
				margin-left: 20vh;
				margin-top: -20vw;
				font-size: 2vh;

				.profile-username {
					font-size: 4vh;
					display: inline-block;
				}

				.profile-email {
					display: inline-block;
				}
			}
		}

		.profile-info-list {
			i {
				// width: 40px;
				// height: 3vh;
				padding: 2vh 2vh 2vh 5vh;
			}

			.profile-menu-item {
				padding-left: 9vw;
	    		padding-bottom: 5vh;
	    		font-size: 2.5vh;
			}
		}
	}
}
	// Tablet 768x1204
	@media screen and (max-width: 768px) {
		.Profile{
			.profile-info{
				.profile-avatar {
						width: 19%;
					}
			}
			.profile-info-list{
				padding: 0vh 0vh 0vh 5vh;
				.profile-menu-item{
					font-size: 3vw;
				}
			}
		}
	}
	// Tablet 1920x1080
	@media screen and (min-width: $tablet-width) {
		.profile-info {
			display: inline-block;
			padding-top: -10vw;
			padding-bottom: 11vw;
			// padding: 3vw;
			.profile-avatar {
				height: 12vw;
				width: 12vw;
				margin-left: 6vw;
				margin-top: -2vw;
			}

			.profile-user-credentials {
				margin-top: 0;
				margin-left: 10vh;

				.profile-username {
					display: inline-block;
					font-size: 3vw;
				}

				.profile-email {
					margin-left: 2vw;
					margin-top: 3vw;
					font-size: 2vw;
				}
			}
		}

		.profile-info-list {
			margin-left: -10vw;

			i {
				// width: 40px;
				// height: 3vh;
				padding: 6vh 3vh 3vh 10vh;
			}

			.profile-menu-item {
				padding-left: 15vw;
				padding-bottom: 4vh;
				font-size: 3vh;
			}
		}
	}
	// Tablet 1080x1920
	@media screen and (min-height: $tablet-height) {
		.profile-info-list {
			line-height: 3;

			.profile-menu-item {
				a {
					font-size: 2em;
				}
			}

			i {
				// width: 40px;
				// height: 3vh;
				padding: 6vh 3vh 3vh 10vh;
			}
		}
	}
