@charset "utf-8";
@import "timeline_mixins";
/* CSS Tab-Statistics */
.Statistics {
	background-color: #012438;
	.row {
		margin-top: 5%;
		margin-left: 1%;
		margin-right: 1%;
		font-size: 1.2em;
		text-align: center;
		a.item {
			color: #fff;
		}
		a.button.button-calm {
			background-color: #3b6783;
			color: #fff;
			width: 70%;
			height: 1em;
			font-size: 1.2em;
			margin-right: 5%;
		}
		.user {
			width: 70%;
			h1 {
				font-size: 1.2em;
				color: #fff;
			}
		}
		.fa{float: left;
			margin-left: 1vh;
			width: 20%;
			height: 10vh;
			border-radius: 50%;
			background-size: 100% 75%;
			}
		.dare h3 {
			padding: 0.5em;
			font-size: 10px;
			color: #37637e;
		}
		.dare h1 {
			font-size: 1.2em;
			color: #fff;
		}
		canvas #line {
			background: transparent;
		}
	}
}
@media screen and (min-width: $tablet-width){


}

@media screen and (min-height: $tablet-height){
	.dare{
		width: 25%;
		font-size: 3em;
		}
	.fa {
		float: left;
		margin-left: 1vh;
		width: 20%;
		height: 5vh;
		border-radius: 50%;
		background-size: 70% 70%;
		}
	button.button-calm{	
		width: 70%;
		font-size: 3.2em;
		margin: 5%;
		padding: 5%;
		}

}	
	
	
	
	