@charset "utf-8";
/* CSS Profil */
ion-content.calendar{    background-image: none;
			 background-color: #077795;
			 text-align: center;
			 display: block;
			 color:#fff;
			font-size: 1.5em;
   			line-height: 2em;
}

