@charset "utf-8";
/* CSS Profil new dare */
	.newdare{
	 background-image: none;
	 background-color: red;
	 background-size: 100% 100%;
	 text-align: center;
	 display: block;		
	 div .h1 {color:#044265;}
	 h3 {color:#16b8d4;}
	 div .radio-content {   
						width: 60%;
						font-size: 10px;
						padding: 1%;
						text-align: left;
						}

	}
