@charset "utf-8";
/* CSS Tab-Statistics */
.Statistics {
	.row {
		margin-top: 5%;
		margin-left: 1%;
		margin-right: 1%;
		font-size: 1.2em;
		a.item {
			color: #fff;
		}
		a.button.button-calm {
			background-color: #3b6783;
			color: #fff;
			width: 70%;
			height: 1em;
			font-size: 1.2em;
			margin-right: 5%;
		}
		.user {
			top: 21px;
			left: 15%;
			height: 10%;
			h1 {
				font-size: 1.2em;
				color: #fff;
			}
		}
		.dare h3 {
			padding: 0.5em;
			font-size: 10px;
			color: #37637e;
		}
		.dare h1 {
			font-size: 1.2em;
			color: #fff;
		}
		canvas #line {
			background: transparent;
		}
	}
}
