@charset "utf-8";
@import "mixins";
@import "timeline_mixins";

/* CSS Timeline	title and arrows*/

	.TimeLineCard {min-height: 10em;
				   max-height: 12.5em;
		.navigation{
			.arrows-right{
						@include arrows-position;
						float: right;
					}
			.arrows-left{
						@include arrows-position;
						float: left;
					}
			.title{@include dare-title-style;}
		}
		.content{
					min-height: 10em;
					width:100%;
					position: relative;
					text-align: center;
					img{height: 10em;
						width: 100%;
						}
		}
		.footer{@include footer-style;
			span{width:16%;
				.fa{@include fa-size;}
			}		
			.info{@include info-size;}
				
	/* avatar settings, NAME*/
			.ng-binding{color: #04a4c3;
						font-size: 10px;
						margin-top: 1.5em;
						margin-right: 2%;
					h3,	h5, i{color: #ffb400;}
					.profil-avatar{@include profil-avatar-position;}	
				}	
		}
				.googleMap{@include google-Map-img;}
		}
@media screen and (min-width: $tablet-width){
	.TimeLineCard {min-height: 15em;
				   max-height: 20em;
		.navigation{
			.arrows-right{
						@include arrows-position;
						@include arrows-position-width;
				}
			.arrows-left{
						@include arrows-position;
						@include arrows-position-width;
						}
			.title{@include dare-title-width;}
			}
		.content{
				min-height: 16em;
				img{height: 16em;}
				}
		.footer{@include footer-style;
				span{font-size:2em;
					.fa{@include fa-size-width;}
					}		
			.info{@include info-size-width;}
				  
	/* avatar settings, NAME*/
			.ng-binding{font-size:2em;
				.profil-avatar{@include profil-avatar-width;}
				}	
			}	
		}
	}
			
@media screen and (min-height: $tablet-height){
	.TimeLineCard {   min-height: 25em;
					   max-height: 30em;
		.navigation{
			.arrows-right{
						@include arrows-position;
						@include arrows-position-height;
					}
			.arrows-left{
						@include arrows-position;
						@include arrows-position-height;
					}
			.title{	@include dare-title-height;	}
				}
		.content{
					min-height: 20em;
					img{height: 20em;}
					}
		.footer{  @include footer-style;
					/*make circle buttons*/
			span{font-size:2em;
				.fa{@include fa-size-height;}
					}		
			.info{@include info-size-height;}				
	/* avatar settings, NAME*/
			.ng-binding{font-size:2em;
						margin-right: 6%;
						.profil-avatar{@include profil-avatar-height;}
					}
			}	
		}
	}
	