@charset "utf-8";
@import "mixins";
@import "timeline_mixins";

/* CSS single Dare	title and arrows*/

.single{@include gray_background;
	.item{@include background-bordernone;
		label {
			margin-top: 1em;
			width: 83%;
			border-color: #8dc3cd;
			float: right;
			}
		}
	/*timeline settings */
			.TimeLineCard { 
				.navigation{
						.title{left: 1em;}
						}
				.footer{@include footer-style;
						@include footer-style-single;
					span{width:16%; margin-bottom:2%;
						h5{font-size:1em;}
						.fa{@include fa-size;}
					}
					img{@include img-single;}
					.info{@include info-size;}
						
			/* avatar settings, NAME*/
					.ng-binding{@include binding-single;
							h3, i{color: #ffb400;text-transform: uppercase;}
							.profil-avatar{@include profil-avatar-position;}	
						}	
				}
			}
			h3 {@include h3-single;}
			.button-new{@include button-style-color;text-transform: uppercase;}
			.col{@include col-single;
				img{width: 3em;}
				h6 i {
					color:#ffb400;
					font-size:1em;
				     }
				 
				h6, h7{color: #01cfe4;}
				h2{ 
					top: 0em;
					left:1em;
					position: relative;
					}
				h4, h2{color: #3c6884;}
				h7{  
					top: 0em;
					left: 1em;
					position: relative;
					}
				}
			.fa{@include circle-border;}
			.button-block{@include block-single;}
		}
		
@media only screen and (device-width: 768px) {	
			TimeLineCard{min-height: 20em;
						max-height: 26em;
					.content {min-height: 15em;
							  img{height: 15em;}
							  }
					.navigation{font-size:1.1em;
						.arrows-right{margin-top: -20%;}
						.arrows-left{margin-top: -20%;}
						.title{
							top: -8em;
							left: -10em;
						}
					}
					.footer{@include footer-style-ipad;
						span {width: 50%;}
							.ng-binding{
									.profil-avatar{
											margin-top: -8%;
											margin-left: 0%;
											min-width: 10em;
											min-height: 10em;
										}	
								}	
						}
				}	
		}
@media screen and (min-width: $tablet-width){
	.single{@include gray_background;
		.item{@include background-bordernone;
		label {
				margin-top: 1em;
				width: 83%;
				border-color: #8dc3cd;
				float: right;
				}
			}
	/*timeline settings */
			.TimeLineCard {min-height: 30em;
					   max-height: 30em;
				.footer{margin-top: 3%;
						font-size: 3em;
					span{width:16%;
						.fa{@include fa-size;}
					}
					img{margin-top: -20%;
						margin-left: 2%;
						min-width: 6.5em;
						min-height: 6.5em;}
					.info{font-size: 0.5em;}
						
			/* avatar settings, NAME*/
					.ng-binding{font-size: 1em;
							h3, i{color: #ffb400;text-transform: uppercase;}
							.profil-avatar{@include profil-avatar-position;}	
						}	
				}
					.googleMap{margin-top: -22%;
								height: 30vh;}
			}
			h3 {font-size: 4em;}
			.button-new{height: 5em;
						font-size: 2em;}
			.col{min-height: 20.5em;
				img{width: 10em; 
					}
				h6 i {font-size:2em;}
				h6, h7{font-size:3em;}
				
				h4, h2{font-size:5em; top: -2em; left: 4em;}
		 		h7{font-size: 4.5em; top: -1em; left: 4em;}
				}
			.fa{@include circle-border;}
			.button-block{ margin: 2%; padding: 2%; font-size: 5em;}
		}
		
		}
		
@media screen and (min-height: $tablet-height){
		
		.single{@include gray_background;
		.item{@include background-bordernone;
		label {
				margin-top: 1em;
				width: 83%;
				border-color: #8dc3cd;
				float: right;
				}
			}
	/*timeline settings */
			.TimeLineCard {min-height: 35em;
					   max-height: 35em;
				.content{min-height: 35em;img{ height:35em;}} 	   
				.footer{margin-top: 3%;
						font-size: 3em;
					span{width:16%;
						.fa{@include fa-size;}
					}
					img{margin-top: -20%;
						margin-left: 2%;
						min-width: 4.5em;
						min-height: 4.5em;}
					.info{font-size: 0.5em;}
						
			/* avatar settings, NAME*/
					.ng-binding{font-size: 1em;    margin-top: 2%;
							h3, i{color: #ffb400;text-transform: uppercase;}
							.profil-avatar{@include profil-avatar-position;}	
						}	
				}
					.googleMap{margin-top: -40%; height: 17.6vh;}
			}
		}
	}