@charset "utf-8";
/* CSS NAv Menue */

ion-side-menu
{
	div .item {  border-style: none;
    color: #03b2d1; 
	background: TRANSPARENT;}

h2{ color: #03b2d1; }
.item p{ color: #ffb400; }
.item-avata{background: TRANSPARENT;}
}
	
	
	
	


